* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #eef1f8;
}

.card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px;
    float: left;
    background-color: #fff;
}

.card:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .title {
    font-size: 32px;
    color: #ff6e00;
    padding: 10px;
    text-align: center;
}

.card .info {
    border-top: 1px solid #cccccc;
    font-size: 24px;
    color: #a0a0a0;
    padding: 40px 10px;
    text-align: center;
}

.card .info .price {
    color: #333;
}

.action {
    padding: 0px;
    text-align: center;
    background-color: #084c61;
}

.action-link {
    display: inline-block;
    padding: 4px;
    width: 30px;
    height: 30px;
    position: relative;
}

.add-fav,
.delete {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.add-cart {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    padding: 14px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #ff6e00;
    border: 5px solid #fff;
    top: -30px
}

.add-fav {
    right: 50px;
}

.delete {
    left: 50px;
}

.add-cart a {
    color: #084c61;
}

.add-fav a,
.delete a {
    color: #aaaaaa;
}

.add-cart:hover {
    color: #ff6e00;
    background-color: #084c61;
}


/*
.add-cart:active{
	animation-duration: 1s;
	transform-origin: middle;
}
.rotate{
	animation-name: rotate;
    animation-timing-function: ease;
	
}
*/

.add-fav:hover,
.delete:hover {
    color: #ff6e00;
}


/*
@keyframes rotate {
	0%   { transform: rotatez(0deg); }
	100% { transform: rotatez(1800deg); }
}
*/