@import url(https://fonts.googleapis.com/css?family=Nunito);
html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Nunito;
}

h1 {
    margin-top: 1em;
    text-align:center;
    font-size: 10vw;
}

#slide1 h1, #slide2 h1, #slide3 h1, #slide4 h1{
    font-size: 250%;
}

p {
    font-size: 140%;
    line-height: 150%;
    color: #333;
}

.slide {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

.slideT {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
    padding-top: 50%;
}

img {
    top: 50%;
    left: 100%;
    width: 320px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    margin-left: 68%;
    margin-top: -100px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.title {
    width: 50%;
    padding: 5%;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
}

.slide:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
}

.slide,
.slide:before {
    background: 50% 50% / cover;
}

.header {
    text-align: center;
    font-size: 175%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}

#title {
    background-image: url("../images/hopenglas.jpg");
    z-index: 2;
}

#title h1 {
    transform: translateZ(.25px) scale(.75);
    transform-origin: 50% 100%;
}

#slide1:before {
    background-image: url("../images/brouwerij1.jpg");
    transform: translateZ(-1px) scale(2);
}

#slide2 {
    background-image: url("../images/bierton.jpg");
    z-index: 4;
}

#slide3:before {
    background-image: url("../images/ondergronds.jpg");
    transform: translateZ(-1px) scale(2);
}

#slide4 {
    background: #222;
    background-image: url("../images/hop2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    width: 100vw;
}


/*
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase
}

.navbar .nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem;
    text-align: center;
    display: inline;
}

.navbar-inverse {
    background-color: #003300
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: #002200
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #003300
}

.dropdown-menu {
    background-color: #006B00
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #002200
}

.navbar-inverse {
    background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
}

.navbar-inverse {
    border-color: #003300
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
    color: #FFCC00
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #FFCC00
}

.dropdown-menu>li>a {
    color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #FFCC00
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #FFFFFF
}
*/

ul {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: darkgreen;
}


/* .flex-rw {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 0;
}

footer {
    background: #86c232;
    opacity: 70%;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.footer-list-top {
    width: 33.333%
}

.footer-list-top>li {
    text-align: center;
    padding-bottom: 10px
}

.footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font: 2.3vw "Oswald", sans-serif
}

.footer-list-anchor {
    font: 1.3em "Open Sans", sans-serif;
    color: darkgreen;
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid;
}

.footer-bottom-section>div:first-child {
    margin-right: auto
}

.footer-bottom-wrapper {
    font-size: 1.5em;
    color: white;
    text-align: center;
    width: 100%;
}

.footer-address {
    display: inline;
    font-style: normal;
    text-align: center;
    color: darkgreen;
}

@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em
    }
    .footer-list-anchor {
        font-size: 1.1em;
        color: darkgreen;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
        color: darkgreen;
    }
}

@media only screen and (max-width: 568px) {
    main {
        font-size: 5em
    }
    .footer-list-top {
        width: 100%
    }
    .footer-list-header {
        font-size: 3em;
    }
    .footer-list-anchor {
        font-size: 1.5em
    }
    .footer-bottom-section {
        padding: 0 5px 10px 5px
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 30px
    }
}

@media only screen and (max-width: 480px) {
    .footer-bottom-rights {
        display: block
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 30px
    }
}

@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em
    }
    .footer-list-anchor {
        font-size: 1.2em
    }
    .footer-bottom-wrapper {
        font-size: 1.3em
    }
} */