HTML CSSResult body {
    margin: 0;
    padding: 0;
}

h2{
    font-size: 30px!important;
    color: white!important;
    text-transform: uppercase;
}

#contact {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 200px;
    background-image: url("../images/cheers.jpg");
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
    margin-bottom: 50px;
    font: 300 60px 'Oswald', sans-serif;
    letter-spacing: 6px;
    margin-bottom: 25px;
}

.contact-wrapper {
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    max-width: 1100px;
}


/* Begin Left Contact Page */

.form-horizontal {
    float: left;
    width: 550px;
    font-family: 'Lato';
    font-weight: 600;
    margin-top: 4em;
    padding: 1.25em;
    background: rgba(0, 0, 0, 0.7);
}

.form-control,
textarea {
    width: calc(513px);
    background-color: rgba(237, 235, 250, 0.1);
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0;

}

.form-horizontal .form-group input.form-control {
    height: auto;
    background-color: rgba(237, 235, 250, 0.1);
    color: #FFF;
}

.form-horizontal .form-control:focus {
    border-color: 
    #86c232;
    box-shadow: none;
}

.form-horizontal::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

.form-horizontal .form-group label {
    position: relative;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    left: 10px;
    top: 0px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 12px;
    font-weight: 300
}

.form-horizontal .form-group label .req {
    margin: 2px;
    color: #86c232;
}

.form-horizontal .form-group label.active {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    left: 2px;
    font-size: 12px;
}

.form-horizontal .form-group label.active .req {
    opacity: 0;
}

.form-horizontal label.highlight {
    color: #ffffff;
}

.send-button {
    width: 550px;
    overflow: hidden;
}

.btn-larger {
    padding: 15px 40px !important;
    margin-top: 15px;
    border: 2px solid 
    #86c232 !important;
    border-radius: 0px !important;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #86c232;
    width: 100%;
    background-color: transparent;
}

.btn-larger:hover, .btn-larger:focus, .btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
    border-color: rgb(55, 94, 9);
    color: #fff;
    background-color: rgb(55, 94, 9);
    border-radius: 0;
}

/* .send-text {
    display: block;
    margin-top: 10px;
    font: 300 14px 'Lato', sans-serif;
    letter-spacing: 2px;
} */



/* Begin Right Contact Page */

.direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 25em;
    
}


/* Location, Phone, Email Section */

.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
    text-align: center;
}

.list-item {
    line-height: 3;
    color: #fff;
}

.contact-text {
    font: 300 1.5em 'Lato', sans-serif;
    letter-spacing: 1.9px;
    font-weight: bold;
    color: #fff;
}



.contact-text a {
    color: #fff;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #86c232 !important;
    text-decoration: none;
}


/* Social Media Icons */

.social-media-list {
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    width: 100%;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    top: 0;
    left: -20px;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 0.75em auto;
    line-height: 70px;
    color: #fff;
    background-color: #86c232;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #111;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}


/* Begin Media Queries*/

@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
    .section-header {
        font-size: 65px;
    }
    .direct-contact-container,
    .form-horizontal {
        float: none;
        margin: 10px auto;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {
    #contact {
        height: 1200px;
    }
    .section-header {
        font-size: 50px;
    }
    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }
    .form-control,
    textarea {
        max-width: 340px;
        margin: 0 auto;
    }
    .name,
    .email,
    textarea {
        width: 280px;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}