
body {
    background-image: url("../images/ons.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    font-family: 'Rubrik', sans-serif;
    line-height: 1.5;
    color: black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.container {
    height: 100%;
}

.row {
    margin-top: 10rem;
}

.img-responsive {
    opacity: 90%;
}

h1 {
    color: #fff;
    margin-bottom: 100px;
    text-align: center;
    border: 2px solid #fff;
}

.heading-title {
    margin-bottom: 100px;
}

.text-center {
    text-align: center;
}

.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}

.p-top-30 {
    padding-top: 30px;
}

.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}

.text-uppercase {
    text-transform: uppercase;
}

.team-member,
.team-member .team-img {
    position: relative;
    border: 1px solid rgba(20, 20, 20, 0.3);
    background: white;
    opacity: 55%;
}

.team-member {
    overflow: hidden;
}

.team-member,
.team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 1px solid black;
    color: black !important;
    /* background-color: #86c232; */
    background-color:orange;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.team-member:hover .team-hover .desk {
    top: 35%;
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}

.desk,
.desk h4,
.team-hover .s-link a {
    text-align: center;
    color: #222;
}

.team-member:hover .team-hover .s-link {
    bottom: 10%;
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}

.desk,
.desk h4,
.team-hover .s-link a {
    text-align: center;
    color: whitesmoke;
    font-size: larger;
}

.team-member .s-link a {
    margin: 0 10px;
    color: white;
    font-size: 18px;
}

.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
}

.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
    font-size: 22px;
    color: #86c232;
}

.team-title span {
    font-size: 18px;
    color:white;
    letter-spacing: 1px;
    text-align: center;
}

q{
    color:black;
}