body,
html {
    height: 100%;
    background: #1c1e21;
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
}

btn {
    border-radius: 0
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
    border-radius: 0
}

.btn-larger {
    padding: 15px 40px !important;
    border: 2px solid #86c232 !important;
    ;
    border-radius: 0px !important;
    ;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #86c232;
    background-color: transparent;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

.btn-larger:hover,
.btn-larger:focus,
.btn-larger:active,
.btn-larger.active,
.open .dropdown-toggle.btn-larger {
    border-color: rgb(55, 94, 9);
    color: #fff;
    background-color: rgb(55, 94, 9);
    border-radius: 0
}

.btn-larger:active,
.btn-larger.active,
.open .dropdown-toggle.btn-larger {
    background-image: none;
}

.btn-larger.disabled,
.btn-larger[disabled],
fieldset[disabled] .btn-larger,
.btn-larger.disabled:hover,
.btn-larger[disabled]:hover,
fieldset[disabled] .btn-larger:hover,
.btn-larger.disabled:focus,
.btn-larger[disabled]:focus,
fieldset[disabled] .btn-larger:focus,
.btn-larger.disabled:active,
.btn-larger[disabled]:active,
fieldset[disabled] .btn-larger:active,
.btn-larger.disabled.active,
.btn-larger[disabled].active,
fieldset[disabled] .btn-larger.active {
    border-color: #AEA8D3;
    background-color: #AEA8D3;
}

.btn-larger .badge {
    color: #AEA8D3;
    background-color: #fff;
}

div#form {
    color: #fff;
    background-attachment: scroll;
    background: #1c1e21 url(bier.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
    margin-top: 50px;
}

#userform p {
    font-size: 14px;
    margin-bottom: 5px;
}

#userform ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
}

#userform {
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 20px 0
}

@media (min-width: 768px) {
    #userform {
        background: rgba(0, 0, 0, 0.8);
        margin: 50px 0 20px 0
    }
}

#userform .nav-tabs.nav-justified>li>a {
    text-transform: uppercase;
    font-size: 20px;
    color: #86c232;
    background-color: rgba(90, 90, 90, 0.5);
}

#userform .nav-tabs.nav-justified>.active>a,
#userform .nav-tabs.nav-justified>.active>a:hover,
#userform .nav-tabs.nav-justified>.active>a:focus {
    border: 0;
    background: #86c232;
    color: white;
    border-radius: 0;
}

#userform .nav-justified>li>a {
    margin-bottom: 0;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

#userform .nav-justified>li>a:hover {
    background: #AEA8D3;
    color: #FFF;
}

#userform .nav-tabs>li>a {
    border: 0px solid transparent;
    border-radius: 0
}

#userform .nav-tabs.nav-justified>li>a:hover {
    background: #86c232;
    color: #FFF;
    border-radius: 0;
    border: 0;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

#userform .nav-tabs>li.active>a,
#userform .nav-tabs>li.active>a:hover,
#userform .nav-tabs>li.active>a:focus {
    color: #61892F;
    cursor: default;
    background-color: transparent;
    border: 0;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

@media (min-width: 768px) {
    #userform .nav-tabs.nav-justified>li>a {
        border: 0;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        transition: all .6s;
    }
    #userform .nav-tabs.nav-justified>li>a:hover {
        background-color: #86c232;
        border-color: transparent;
        border: 0;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        transition: all .6s;
    }
}

@media (max-width: 768px) {
    .nav-justified>li {
        display: table-cell !important;
        width: 1% !important;
    }
}

#userform .nav-tabs {
    border-bottom: 0px solid #ddd;
}

#userform .tab-pane h2 {
    margin: 10px 0;
    color: #FFF;
}

#userform .tab-pane p.lead {
    margin-top: 20px;
}

#userform .tab-content {
    padding: 20px
}

#userform .form-group {
    margin-bottom: 0px;
    color: #FFF;
}

#userform .form-group input,
#userform .form-group textarea {
    padding: 10px;
}

#userform .form-group input.form-control {
    height: auto;
    background-color: rgba(237, 235, 250, 0.1);
    color: #FFF;
}

#userform .form-control {
    border-radius: 0;
    border: 1px solid #fff;
}

#userform .form-control:focus {
    border-color: #86c232;
    box-shadow: none;
}

#userform::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #bbb;
}

#userform #signup .form-group label {
    position: relative;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    left: 10px;
    top: 0px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 12px;
    font-weight: 300
}

#userform #signup .form-group label .req {
    margin: 2px;
    color: #86c232;
}

#userform #signup .form-group label.active {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    left: 2px;
    font-size: 12px;
}

#userform #signup .form-group label.active .req {
    opacity: 0;
}

#userform label.highlight {
    color: #ffffff;
}

#userform #login .form-group label {
    position: relative;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    left: 10px;
    top: 0px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 12px;
    font-weight: 300
}

#userform #login .form-group label .req {
    margin: 2px;
    color: #86c232;
}

#userform #login .form-group label.active {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    left: 2px;
    font-size: 12px;
}

#userform #login .form-group label.active .req {
    opacity: 0;
}

.mrgn-30-top {
    margin-top: 30px
}

@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #86c232!important;
}

.navbar .nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    border: solid 1px #86c232;
    color: #86c232!important;
}

.dropdown-menu {
    background-color: #006B00
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #002200
}

.navbar-inverse {
    background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
}

.navbar-inverse {
    border-color: #003300
}

.navbar-inverse {
    color: #FFFFFF
}


/* .navbar-inverse .navbar-brand:hover {
    color: #FFCC00
} */

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF
}


/* .navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #FFCC00
} */

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #FFF;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    /*  color: #FFCC00 */
    border: 1px solid #86c232;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #FFFFFF
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: darkgreen;
}


/* .flex-rw {
    display: flex;
    flex-flow: row wrap;
}

footer {
    background: #86c232;
    opacity: 70%;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.footer-list-top {
    width: 33.333%
}

.footer-list-top>li {
    text-align: center;
    padding-bottom: 10px
}

.footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font: 2.3vw "Oswald", sans-serif
}

.footer-list-anchor {
    font: 1.3em "Open Sans", sans-serif;
    color: darkgreen;
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid
}

.footer-bottom-section>div:first-child {
    margin-right: auto
}

.footer-bottom-wrapper {
    font-size: 1.5em;
    color: darkgreen;
    text-align: center;
    width: 100%;
}

.footer-address {
    display: inline;
    font-style: normal;
    text-align: center;
    color: darkgreen;
}

@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em
    }
    .footer-list-anchor {
        font-size: 1.1em;
        color: darkgreen;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
        color: darkgreen;
    }
}

@media only screen and (max-width: 568px) {
    main {
        font-size: 5em
    }
    .footer-list-top {
        width: 100%
    }
    .footer-list-header {
        font-size: 3em;
    }
    .footer-list-anchor {
        font-size: 1.5em
    }
    .footer-bottom-section {
        padding: 0 5px 10px 5px
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 30px
    }
}

@media only screen and (max-width: 480px) {
    .footer-bottom-rights {
        display: block
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 30px
    }
}

@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em
    }
    .footer-list-anchor {
        font-size: 1.2em
    }
    .footer-bottom-wrapper {
        font-size: 1.3em
    }
} */

.warning {
    border: solid 1px red;
    padding: 0.75em;
    background-color: rgba(237, 235, 250, 0.1);
    color: red;
}


/* .navbar-inverse .navbar-brand:hover {
    background-color: rgb(55, 94, 9);
    color: #FFF!important;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: rgb(55, 94, 9);
    color: #FFF;
    border: solid 1px rgb(55, 94, 9);
}
 */

.select {
    background-color: rgba(90, 90, 90, 0.5);
    border-width: 1.25px;
    opacity: 75%;
    border-color: white;
    color: whitesmoke;
    overflow-x: hidden;
    margin-top: 25px;
    height: 43px;
}

.hide,
#showHideDiv {
    display: none
}

.show {
    display: block;
}