@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #86c232!important;
}

.navbar .nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    border: solid 1px #86c232;
    color: #86c232!important;
}

.dropdown-menu {
    background-color: #006B00
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #002200
}

.navbar-inverse {
    background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
}

.navbar-inverse {
    border-color: #003300
}

.navbar-inverse {
    color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
    color: #FFCC00
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #FFF;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    /* color: #FFCC00 */
    border: 1px solid #86c232;
}

.dropdown-menu>li>a {
    color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #FFCC00
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #FFFFFF
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: darkgreen;
}

.navbar-inverse .navbar-brand:hover {
    background-color: rgb(55, 94, 9);
    color: #FFF!important;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: rgb(55, 94, 9);
    color: #FFF;
    border: solid 1px rgb(55, 94, 9);
}