<!DOCTYPE html>

<html lang="en">

<head>
    <title>Error 401</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Webdevelopment, DeSchuimkraag, Bier, E-shop">
    <meta name="description" content="401 pagina">
    <meta name="author" content="Danny, David, Geert, Kristel Jeroen,">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/css/401.css">
</head>

<body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <header>
            <h1>Error</h1>
            <h1>401</h1>
        </header>
        <div class="main"></div>
            <p class="output">Volgens de wet van 2009 mogen we geen alcolhol verkopen aan jongeren <br><u>onder de 16 jaar.</u> </p>
            <p class="output">We aanvaarden geen kredietkaarten van jongeren <br><u> onder de 18 jaar</u>.
            </p>
            <p class="output">Gelieve terug te gaan naar de
                <a href="home.html">Home-pagina</a></p>
            <p class="output">Dank voor je begrip!</p>
        </div>
    </div>
</body>

</html>