<!DOCTYPE html>
<html lang="en">

<head>
    <title>cookieModel</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="Webdevelopment, DeSchuimkraag, Bier, E-shop">
    <meta name="description" content="CookieModal">
    <meta name="author" content="Danny, David, Geert, Kristel Jeroen,">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/css/cookies.css">
</head>

<div>
    lorem ipsum
</div>

<div class="overlay">
    <div class="popup">
        <h2>Hallo, deze site maakt gebruik van cookies!</h2>
        <h1><span class="higher">&#x1F36A;</span><span class="lower">&#x1F36A;</span></h1>
        <p>We gebuiken session en functionele cookies om uw bezoek aan de website zo aangenaam mogelijk te maken.</p>
        <div class="btn-container">
            <button class="btn" id="btnOK">Ik begrijp het</button>
            <a href= 'underconst.php'><button class="btn">Meer info</button></a>
            <button class="btn ghost" id="trick">
                Nee, Ik ben op dieet !
                <span>Niet op mij klikken &#128540;</span>
            </button>
        </div>
    </div>
</div>



<script src="../public/js/cookies.js"></script>
</body>

</html>